@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

section{
    position: absolute;
    width: 1327px;
    height: 698px;
    left: 74px;
    top: 97px;
    box-shadow: -7px 2px 34px 3px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 24px;
}

.gambar-logo{
    width: 67px;
    height: 53px;
    left: 39px;
    top: 32px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

li{
    display: inline;
}

.lorem1{
    width: 425px;
    height: 93px;
    left: 95px;
    top: 384px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-indent: 40px;
    color: #000000;
}

.lorem2{
    width: 425px;
    height: 93px;
    left: 95px;
    top: 490px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

a{
    text-decoration: none;
    color: #000000;
}

.beranda{
    position: absolute;
    width: 152px;
    height: 33px;
    left: 767px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.bantuan{
    position: absolute;
    width: 150px;
    height: 33px;
    left: 995px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.login{
    position: absolute;
    width: 95px;
    height: 33px;
    left: 1221px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.tulisan-elearning{
    width: 388px;
    height: 120px;
    left: 100px;
    top: 245px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 68px;

    color: #000000;
}

.kotakbiru{
    background-color: #A1C6CE;
    height:50px;
    width:100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    
}

.text{
    flex-grow: 1;
    border-radius: 24px;
}

.gambarsekolah{
    flex-grow: 1;
    margin-top: 45px;
}

.gambarsekolah1{
    width: 978px;
    height: 653px;
    left: 520px;
    top: 150px;
    filter: drop-shadow(-16px 4px 65px rgba(0, 0, 0, 0.25));
    border-radius: 39px;
}

.border-blue{
	color: #55a8fd;
	border: 3px solid #55a8fd;
}

.button{
	position: relative;
	padding: 25px 80px;
	text-decoration: none;
	display: inline-block;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 3px;
    font-size: 30px;
    font-family: Roboto;
}

.about{
    position: absolute;
    width: 72px;
    height: 47px;
    left: 30px;
    top: 630px;
}

.our{
    position: absolute;
    width: 32px;
    height: 31px;
    left: 158px;
    top: 630px;
}

.location{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 300px;
    top: 630px;
}

.tabout{
    position: absolute;
    width: 61px;
    height: 18px;
    left: -13px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.tour{
    position: relative;
    width: 89px;
    height: 18px;
    left: -27px;
    top: -15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.tlocation{
    position: absolute;
    width: 61px;
    height: 18px;
    left: -23px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}