@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

section{
    position: absolute;
    width: 1327px;
    height: 698px;
    left: 74px;
    top: 97px;
    box-shadow: -7px 2px 34px 3px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 24px;
}

.gambar-logo{
    width: 67px;
    height: 53px;
    left: 39px;
    top: 32px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

li{
    display: inline;
}

.lorem1{
    width: 425px;
    height: 93px;
    left: 95px;
    top: 384px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.lorem2{
    width: 425px;
    height: 93px;
    left: 95px;
    top: 490px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.beranda{
    position: absolute;
    width: 152px;
    height: 33px;
    left: 767px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.bantuan{
    position: absolute;
    width: 150px;
    height: 33px;
    left: 995px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.login{
    position: absolute;
    width: 95px;
    height: 33px;
    left: 1221px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.tulisan-login{
    width: 388px;
    height: 120px;
    left: 80px;
    top: 245px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;

    color: #000000;
}

.kotakbiru{
    background-color: #A1C6CE;
    height:50px;
    width:100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.text{
    flex-grow: 1;
    border-radius: 24px;
}

.about{
    position: absolute;
    width: 72px;
    height: 47px;
    left: 30px;
    top: 600px;
}

.our{
    position: absolute;
    width: 32px;
    height: 31px;
    left: 150px;
    top: 600px;
}

.location{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 280px;
    top: 600px;
}


.gambarsekolah{
    flex-grow: 1;
}

.gambarsekolah1{
    width: 978px;
    height: 653px;
    left: 520px;
    top: 150px;
    filter: drop-shadow(-16px 4px 65px rgba(0, 0, 0, 0.25));
    border-radius: 39px;
}

h1{
    position: relative;
    top: 35px;
    left: 25px;
}

form{
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    color: #919599;
    font-size: 20px;
    padding-left:30px;
}

input, button{
    width:330px;
    height:30px;
    border-radius:10px;
}

.cekbox{
    width: 14px;
    height: 14px;
    left: 104px;
    top: 488px;
}

.ingatsaya{
    font-size:15px;
}

button{
    background-color: #E13E3E;
}

.lupas{
    font-size:15px;
    text-align: center;
    color: #E13E3E;
}

a{
    text-decoration: none;
    color: #000000;
}

.warnapassword{
    color: #E13E3E;
}